<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Articles</title>
</head>

<body>
  <h1>all articles</h1>
  <div id="navBar">
    <form action="/" method="get">
      <button class="navButton" type="submit">Home</button>
    </form>

    <span class="navBullet">•</span>

    <form action="/products" method="get">
      <button class="navButton" type="submit">Products</button>
    </form>

    <span class="navBullet">•</span>

    <form action="/articles" method="get">
      <button class="navButton" type="submit">Articles</button>
    </form>

    <span class="navBullet">•</span>

    <form action="/articles/new">
      <button class="addItem" type="submit">Add A New Article</button>
    </form>

  </div>


  <div class="content">
    {{#each articles}}
    <div class="articles">
      <h1>{{title}}</h1>
      <p>{{body}}</p>
      <p>{{author}}</p>

      <form action="articles/{{title}}">
        <button class="specificButton">View This Article</button>
      </form>
    </div>
    {{/each}}
  </div>
</body>

</html>