<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Products</title>
</head>

<body>
  <div id="navBar">
    <span class="nav" id="nav1">
      <form action="/" method="get">
        <button class="navButton" type="submit">Home</button>
      </form>
    </span>
    <span class="navBullet">•</span>
    <span class="nav" id="nav2">
      <form action="/products" method="get">
        <button class="navButton" type="submit">Products</button>
      </form>
    </span>
    <span class="navBullet">•</span>
    <span class="nav" id="nav3">
      <form action="/articles" method="get">
        <button class="navButton" type="submit">Articles</button>
      </form>
    </span>
  </div>

  <form action="products/new">
    <button class="addItem" type="submit">Add A New Product</button>
  </form>

  <form action="products/edit">
    <button class="editItem">Edit An Existing Product</button>
  </form>

  <form action="products/edit">
    <button class="deleteItem">Delete an Existing Product</button>
  </form>

  <div class="content">
    {{#each products}}
    <div class="product">
      <h1>{{name}}</h1>
      <p>{{id}}</p>
      <p>{{price}}</p>
      <p>{{inventory}}</p>
    </div>
    {{/each}}
  </div>
</body>

</html>