<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h1>new product</h1>
      <div id="navBar">
    <span class="nav" id="nav1">
      <form action="/" method="get">
        <button class="navButton" type="submit">Home</button>
      </form>
    </span>
    <span class="navBullet">•</span>
    <span class="nav" id="nav2">
      <form action="/products" method="get">
        <button class="navButton" type="submit">Products</button>
      </form>
    </span>
    <span class="navBullet">•</span>
    <span class="nav" id="nav3">
      <form action="/articles" method="get">
        <button class="navButton" type="submit">Articles</button>
      </form>
    </span>
  </div>

  <form action="/products" method="POST">

    Product Name
    <input type="text" name="name" id="">

    Product Price
    <input type="text" name="price" id="">

    Product Quantity
    <input type="text" name="inventory" id="">

    <button class="addItem" type="submit">Submit Product</button>
  </form>
</body>

</html>